@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --headings: #222222;
  --defaultBlack: #000000;
  --white: #ffffff;
  --lightGray: #f1f1f1;
  --medGray: #dddddd;
  --darkGray: #6c6c6c;
  --pink: #dd1063;
  --red: #e81948;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* main window area */
.mainFrame {
  background-color: var(--lightGray);
  width: 393px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

/* searchbar */
nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #e0e0de, #fdfdfd);
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 18px 0px;
}
.searchButton {
  display: flex;
  justify-content: center;
  height: 58px;
  border: none;
  border-radius: 30px;
  background: var(--white);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
  padding: 0px 100px;
  text-align: center;
  font-weight: 600;
}
.searchBar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.searchBar input::placeholder {
  color: var(--headings);
  font-size: 14px;
}
.searchBar img {
  position: absolute;
  left: 120px;
  width: 12px;
  height: auto;
  transform: translateY(180%);
}
/* nav icons & text */
.navIconRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 62px;
}
.linkIcon {
  width: 50px;
}
.navIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
a {
  color: var(--darkGray);
  text-decoration: none;
}
.navIcon.active,
.navIcon:hover {
  color: var(--headings);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  font-weight: 600;
}

/* top of phone screen */
.phoneIconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 45px 0px 45px;
}
.phoneIconsSubContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}
.phoneIcons {
  height: 11px;
}
.time {
  font-size: 17px;
  font-weight: 600;
  font-family: var(--font-inter-bold);
}

/* image listing area */
.listingView {
  margin-left: 24px;
}
.imageListingContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.imageListingContainer img {
  height: 158px;
  width: 167px;
  margin-right: 12px;
  border-radius: 20px;
  object-fit: cover;
}
.imageWrapper {
  position: relative;
}
.guestFavorite {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: var(--lightGray);
  color: var(--headings);
  padding: 4px 8px;
  border: 0.75px solid #fff;
  border-radius: 30px;
  font-size: 11px;
  font-weight: bold;
}
.popularHomes {
  color: var(--headings);
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0px 15px;
}
.propertyCity {
  color: var(--headings);
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0px 3px;
}
.propertyDetails {
  color: var(--darkGray);
  font-size: 12px;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.chevronRight {
  height: 14px;
  width: auto;
  vertical-align: middle;
}
.starIcon {
  height: 9px;
  width: auto;
  vertical-align: baseline;
}

/* bottom nav */
.bottomNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 40px;
  background-color: var(--white);
  padding: 17px 0px 35px;
  margin-top: 20px;
  border-top: 2px solid var(--lightGray);
}
.bottomNav img {
  height: 22px;
  width: auto;
}
.bottomNav div {
  text-align: center;
}
.bottomNavIcon {
  text-align: center;
  font-size: 10px;
  color: var(--darkGray);
  font-weight: 500;
}
.activeIcon {
  color: var(--red);
}

/* app background styling */
.background {
  margin: 15px;
  padding: 0;
}
.linkToFigma {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 30px;
}
